* {
  font-family: Arial;
  margin-left: 0;
  margin-right: 0;
  margin-block: 0;
}
header {
  background-color: cadetblue;
  color: red;
  text-align: center;
  height: 100px;
}
nav {
  background-color: burlywood;
  padding: 0;
  margin: 0;
}

main {
  background-color: bisque;
  height: 300px;
}
.a {
  float: left;
}
.b {
  float: right;
}
img {
  height: 200px;
}
footer {
  background-color: black;
  height: 120px;
  color: yellow;
}
button {
  background-color: black;
  color: yellow;
}
tr:hover {
  background-color: black;
  color: yellow;
}
ol:hover{
  color:red;
}
li:hover{
  color: red;
}
